<!DOCTYPE html>
<html lang="en" class="bg-light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Atlantis Website</title>
    {% include'bootstrap.html' %}
    
  </head>
  <body>
    {% include 'nav.html' %}
    
    {% include'banner.html'%}
    <div class="container "style="margin-top:16px">
      
      <h2 class="text-center mt-2 mb-4">About Atlantis</h2>
      <div class="row" style="margin-bottom:4px; margin-top:4">
        <div class="col-md-6">
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra, ipsum a tincidunt suscipit, ipsum lacus eleifend sapien, eget aliquet nunc lectus vitae nisl. Suspendisse fermentum tristique turpis gravida fermentum. Vestibulum et est faucibus, viverra arcu sed, rutrum neque. Nam convallis cursus purus at malesuada. In quis pellentesque nunc. Vivamus ac gravida nisl. Donec mattis molestie arcu, congue luctus justo tincidunt ac.
      </p></div>
      <div class="d-none d-md-block col-md-6">
        <img class="img-fluid" src="/static/people.avif" width="" height="240" alt="image of atlantis">
      </div>
    </div>
      <h2 class="text-center mt-2 mb-4">Job Opennings</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      </p>
      </p>
      <div class="text-center">
        <a target="_blank" href="mailto:mecheo.udemy@gmail.com?subject=Question%20about%20job%20openning&body=My%20name%3A%20%3Cyour%20name%3E%0D%0AMy%20question%3A%20%3Center%20question%20here%3E" type="button" class="btn btn-outline-primary">Contact Us</a>

        
      </div>
      
    </div>
    {% include 'footer.html'%}
  </body>
</html>