<nav  class="navbar bg-body-tertiary shadow-sm sticky-top bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/static/logo.svg" alt="Atlantis" width="30" height="24">  Atlantis
    </a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
<div style="height:46px"></div>
