<!DOCTYPE html>
<html class="bg-light">
  <head>
    <title>Submitted Application</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
      <h1>Application Submitted </h1>
      <p>Thank you for submitting your application for the role of  <b>{{job["title"]}}</b> at Atlantis. We will review it and get back to you as soon as possible.</p>
      
      <div>
        <h4>Full Name</h4>
        <p>{{application['full_name']}}</p>
      </div>
  
      <div>
        <h4>Email</h4>
        <p>{{application['email']}}</p>
      </div>
  
      <div>
        <h4>LinkedIn URL</h4>
        <p>{{application['linkedin_url']}}</p>
      </div>
  
      <div>
        <h4>Education</h4>
        <p>{{application['education']}}</p>
      </div>
  
      <div>
        <h4>Work Experience</h4>
        <p>{{application['work_experience']}}</p>
      </div>
  
      <div>
        <h4>Resume URL</h4>
        <p>{{application['resume_url']}}</p>
      </div>
      
    </div>
    {% include 'footer.html'%}
</html>